$colors: (
    darkI: #000,
    darkII: #28262C,
    darkIII:#1f1d22,
    lightI: #ffffff,
    lightII: #F9F5FF,
    colorI: #D4C2FC,
    colorII: #998FC7,
    colorIII: #14248A,
    transparentI:  #d4c2fc49,
    transparentII:  #000000a2,
    sun: rgb(255, 89, 0),
    moon: rgb(0, 7, 69),
);

$boxshadow: (
    I:  0 0 35px rgba(0, 0, 0, 0.607),
    II:  0 0 35px rgba(0, 0, 0, 0.735)
);

$fontweight: (
    fontI: 900,
    fontII: 400,
);
