#titleDollar {
    color: map-get($colors, darkII );
    font-size: 30px;
    body.dark & {
        color: map-get($colors, lightII);
    }
}

.titleActions {
    color: map-get($colors, darkII);
    transition: .3ms ease all;
    body.dark & {
        color: map-get($colors, lightI);
    }
}