* {
  margin: 0%;
  padding: 0%;
  transition: 0.5ms;
}

body {
  overflow: auto;
}

/*-----------------------------------------------------------------*/
/*HEADER*/




/*-----------------------------------------------------------------*/
/*MAIN*/


.bienvenida {
  margin-top: 150px;
  text-align: center;
}

/*Calcular prestamo*/
.calculos {
  margin: 150px;
  
}

.titulos {
  text-align: center;
}

.formCalcular {
  display: flex;
  flex-direction: column;
}
.formCalcular section{
  padding: 5px;
  display: flex;
  justify-content: center;
}

.poner ::placeholder {
  color: black;
}

.botonEnviar input{
  transition: all 500ms ;
}

.botonEnviar input:hover {
  background-color: rgb(255, 232, 168);
}

.intereses {
  margin-top: 150px;
}

/*-----------------------------------------------------------------*/
/*FOOTER*/